{% extends "base.html" %}
<!-- prettier-ignore -->
{% block content %}
<h1>Author List</h1>
<!-- prettier-ignore -->
{% if author_list %}
<!-- prettier-ignore -->
<ul>
        {% for author in author_list %}
        <li>
            <!-- prettier-ignore -->
            <a href="{{ author.get_absolute_url }}">{{ author }}</a>
            ({{author.date_of_birth}})
        </li>
        {% endfor %}
</ul>
{% else %}
<p>There are no Author with this name in the library.</p>
{% endif %} {% endblock %}
