{% extends "base.html" %}

{% block content %}

<div style=" margin-top: 20px">
    <h1>Renew: {{book_instance.book.title}}</h1>
    <p>Borrower: {{book_instance.borrower}}</p>
    <p{% if book_instance.is_overdue %} class="text-danger"{% endif %}>Due date: {{ book_instance.due_back }}</p>

    <form action="" method="post">
        {% csrf_token %} <!--reduce the chance of forms being hijacked by malicious users.-->
        <table>
            {{ form.as_table}} <!-- Each field is rendered as a table row.-->
        </table>
        <input type="submit" value="Submit">
    </form>
</div>
   
{% endblock %}